<bh-library_header></bh-library_header>
<div fxLayout="column wrap" class="page-body" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="add-book-btn-container" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button routerLink="../home" class="view-home-btn">Home Page</button></div>
  <div fxLayout="column wrap" class="form-container" fxLayoutAlign="start stretch" [fxShow]="true">
    <form #form="ngForm" [formGroup]="page.formName" (ngSubmit)="addBookDetails(form)">
      <h1>
        Book Details</h1>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="input-box" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.itemsForm.isbn" placeholder="ISBN" [required]="true" formControlId="id">
          <mat-label>ID</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="input-box" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.itemsForm.title" placeholder="Title" [required]="true">
          <mat-label>Title</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="input-box" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.itemsForm.author" placeholder="Author" [required]="false">
          <mat-label>Author</mat-label>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="input-box" [appearance]="&apos;outline&apos;">
          <mat-label>Published Year</mat-label>
          <input matInput placeholder="Published Year" [matDatepicker]="picker" [(ngModel)]="page.itemsForm.publishedYear" [required]="false" [disabled]="false">
          <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary" [disabled]="false" startView="year"></mat-datepicker>

        </mat-form-field>
      </div><button mat-raised-button style="margin-top:10px;" class="add-book-btn" type="submit">Add book </button>
    </form>
  </div>
</div>